[Unit]
Description=MPRIS Spotifyd PiFi Display
After=network.target sound.target spotifyd.service
Wants=spotifyd.service

[Service]
Type=simple
ExecStart=/usr/local/bin/mpris-spotifyd-pifi
WorkingDirectory=/home/pi
Restart=always
RestartSec=5
User=pi
Environment="RUST_LOG=info"

[Install]
WantedBy=multi-user.target
